[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow = ">=2.4.0"
pandas = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
