[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow = "==2.4.1"
pandas = "*"
sklearn = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
